@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@font-face {
  font-family: "Cascadia Code", monospace;
  src: url("./fonts/CascadiaCode.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Cascadia Code", monospace;
  font-size: 16px;
}

body {
  background: #181d32;
  color: white;
}

section {
  font-family: cursive !important;
}

.view-lines {
  font-family: cursive !important;
}

/* In your App.scss or other stylesheet */
.monaco-editor,
.monaco-editor .inputarea {
  font-family: "Courier New", monospace; /* Use the desired font family here */
}
